<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-goods-heading" jhiTranslate="bugTrackerJHipsterApp.goods.home.createOrEditLabel">Create or edit a Goods</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugTrackerJHipsterApp.goods.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugTrackerJHipsterApp.goods.sku" for="field_sku">Sku</label>
                    <input type="number" class="form-control" name="sku" id="field_sku"
                           formControlName="sku"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugTrackerJHipsterApp.goods.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="FINE">{{'bugTrackerJHipsterApp.GoodsType.FINE' | translate}}</option>
                        <option value="BAD">{{'bugTrackerJHipsterApp.GoodsType.BAD' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugTrackerJHipsterApp.goods.gmtCreate" for="field_gmtCreate">Gmt Create</label>
                    <div class="input-group">
                        <input id="field_gmtCreate" type="text" class="form-control" name="gmtCreate" ngbDatepicker  #gmtCreateDp="ngbDatepicker" formControlName="gmtCreate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="gmtCreateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugTrackerJHipsterApp.goods.gmtModified" for="field_gmtModified">Gmt Modified</label>
                    <div class="input-group">
                        <input id="field_gmtModified" type="text" class="form-control" name="gmtModified" ngbDatepicker  #gmtModifiedDp="ngbDatepicker" formControlName="gmtModified"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="gmtModifiedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugTrackerJHipsterApp.goods.deleted" for="field_deleted">Deleted</label>
                    <input type="number" class="form-control" name="deleted" id="field_deleted"
                           formControlName="deleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bugTrackerJHipsterApp.goods.warehouse" for="field_warehouse">Warehouse</label>
                    <select class="form-control" id="field_warehouse" name="warehouse" formControlName="warehouseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="warehouseOption.id" *ngFor="let warehouseOption of warehouses; trackBy: trackWarehouseById">{{warehouseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
