<div>
    <h2 id="page-heading">
        <span jhiTranslate="bugTrackerJHipsterApp.warehouse.home.title">Warehouses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-warehouse" [routerLink]="['/warehouse/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bugTrackerJHipsterApp.warehouse.home.createLabel">
            Create new Warehouse
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="warehouses?.length === 0">
        <span jhiTranslate="bugTrackerJHipsterApp.warehouse.home.notFound">No warehouses found</span>
    </div>
    <div class="table-responsive" *ngIf="warehouses?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="bugTrackerJHipsterApp.warehouse.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="bugTrackerJHipsterApp.warehouse.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stock"><span jhiTranslate="bugTrackerJHipsterApp.warehouse.stock">Stock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="owner"><span jhiTranslate="bugTrackerJHipsterApp.warehouse.owner">Owner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gmtCreate"><span jhiTranslate="bugTrackerJHipsterApp.warehouse.gmtCreate">Gmt Create</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gmtModified"><span jhiTranslate="bugTrackerJHipsterApp.warehouse.gmtModified">Gmt Modified</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleted"><span jhiTranslate="bugTrackerJHipsterApp.warehouse.deleted">Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let warehouse of warehouses ;trackBy: trackId">
                <td><a [routerLink]="['/warehouse', warehouse.id, 'view' ]">{{warehouse.id}}</a></td>
                <td>{{warehouse.name}}</td>
                <td>{{warehouse.address}}</td>
                <td>{{warehouse.stock}}</td>
                <td>{{warehouse.owner}}</td>
                <td>{{warehouse.gmtCreate | date:'mediumDate'}}</td>
                <td>{{warehouse.gmtModified | date:'mediumDate'}}</td>
                <td>{{warehouse.deleted}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/warehouse', warehouse.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/warehouse', warehouse.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'warehouse', { outlets: { popup: warehouse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="warehouses?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
