<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="warehouse">
            <h2><span jhiTranslate="bugTrackerJHipsterApp.warehouse.detail.title">Warehouse</span> {{warehouse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bugTrackerJHipsterApp.warehouse.name">Name</span></dt>
                <dd>
                    <span>{{warehouse.name}}</span>
                </dd>
                <dt><span jhiTranslate="bugTrackerJHipsterApp.warehouse.address">Address</span></dt>
                <dd>
                    <span>{{warehouse.address}}</span>
                </dd>
                <dt><span jhiTranslate="bugTrackerJHipsterApp.warehouse.stock">Stock</span></dt>
                <dd>
                    <span>{{warehouse.stock}}</span>
                </dd>
                <dt><span jhiTranslate="bugTrackerJHipsterApp.warehouse.owner">Owner</span></dt>
                <dd>
                    <span>{{warehouse.owner}}</span>
                </dd>
                <dt><span jhiTranslate="bugTrackerJHipsterApp.warehouse.gmtCreate">Gmt Create</span></dt>
                <dd>
                    <span>{{warehouse.gmtCreate}}</span>
                </dd>
                <dt><span jhiTranslate="bugTrackerJHipsterApp.warehouse.gmtModified">Gmt Modified</span></dt>
                <dd>
                    <span>{{warehouse.gmtModified}}</span>
                </dd>
                <dt><span jhiTranslate="bugTrackerJHipsterApp.warehouse.deleted">Deleted</span></dt>
                <dd>
                    <span>{{warehouse.deleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/warehouse', warehouse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
